<header>
    <div class="container">
        <nav class="header-navigation">
            <a href="#home">Home</a>
            <a href="#about">About me</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
        </nav>
        <a class="header-logo" href="#" aria-label="Back to top">
            <img
                src="logo/logo.png"
                alt="Daniel Korbmacher logo">
        </a>
        <div class="header-actions">
        </div>
    </div>
</header>